.quemSomos{
	margin-top: 100px;
}

nav.navbar{
	/*background-color: rgba(0, 0, 0, 0.5);	*/
}
.vestindo-certo{padding: 20px 15px;box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2),0 0px 20px 0 rgba(0,0,0,0.19);background-color: #fff;}
.vestindo-certo .row div ul{margin-top: 35px;}
.vestindo-certo .row div ul li{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin: 20px 10px;
    padding: 20px 10px;
    padding-top: 0px;
    border-bottom: 1px solid #B9B9B9;
}
.vestindo-certo .row div ul li i{position: relative;left: 0px;top: 0px;}
@media (max-width: 767px){
    .vestindo-certo{padding: 20px 15px;}
    .vestindo-certo .row div ul li{font-size: 18px;}
    .vestindo-certo .row div ul{margin-left: 0px;}
}
