#login{margin-top: 120px; margin-bottom: 50px;
}

.form-group .input-group-addon{
    background-color: #64B5F6;
    color: #333;
    border:1px solid #333;
    border-right: none;
}

.form-group .input-group{
    width: 100%;
}
.form-group .input-group-addon .icon-input{
	width: 20px;
}

.form-group{margin-left: 0;}

.input-group .form-control{
	font-size: 18px;
    height: 50px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #64B5F6;
    color: #333;
    font-weight: 700;
    /*border-color:#333;*/
    border:1px solid #333;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    transition: all 0.2s;
}
#login .input-group .form-control::-webkit-input-placeholder {color:#333;font-weight: 700;}

.input-group .form-control:focus{
    /*background-color: #333;*/
    color: #fff;
    transition: all 0.2s;
}

form .form-group .btn{
	margin: auto;
	display: block;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    font-weight: 700;
    padding: 15px 17px;
    min-width: 165px;
    transition: all 0.2s;
    border:none;
}

form .form-group .btn:hover{
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); background-color: #333;
    color: #fff;
}

nav.navbar{
	/*background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-animation: animate-fade-in 0.5s;*/
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .input-group .form-control{
        width: 100%;
    }
    .col-sm-offset-4{
        margin-left: 25%;
    }
    .col-sm-4{
        width: 52%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .input-group .form-control{
        width: 100%;
    }
    .col-sm-offset-4{
        margin-left: 33%;
    }
    .col-sm-4{
        width: 40%;
    }
}
